.input-container {
  position: relative;
  width: 60%;
  height: 50px;
  border: 1px solid rgb(112, 113, 118);
  border-radius: 4px;
  background-color: rgb(33 40 66);
  display: flex;
  align-items: center;
}

.input {
  width: 95%;
  border: none;
  background-color: rgb(33 40 66);
  color: white;
  outline: none;
}

.input-icon {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(147, 18, 18, 0.607);
  border-radius: 4px;
  background-color: rgb(33 40 66);
}
