.main {
  background-color: rgb(33 40 66);
  flex-direction: column;
  flex: 3;
  height: 100vh;
  display: flex;
}

.main__dataset {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__response {
  color: white;
  height: 75%;
}

.main__input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
